/* Main.css */
:root{
  --on-dark: rgb(255,255,255);
  --on-light: rgb(9, 60, 113);
  --hover-on-dark: rgb(173, 206, 101);
  --hover-on-light: rgb(6, 31, 61);
  --background-color: rgb(241, 241, 241);
  --div-color-1: rgb(241, 241, 241);
  --div-color-2: rgb(15, 89, 78);
  --resizer-color: rgb(7, 46, 40);
  --border-color-on-light: rgba(7, 46, 40, .7);
  --border-color-on-dark: rgba(255,255,255);
}

body {
  background-color: var(--background-color);
}

#rootDiv {
  background-color: var(--div-color-1);
  flex-grow: 1;
}

.mainScreen {
  width: 100vw;
  display: flex;
  flex-direction:column;
}

#homeDiv {
  padding-top: 5vh;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.homeButtons {
  padding-bottom: 5vh;
  display: grid;
  row-gap: 7vh;
}

.homeTitle {
  overflow: clip;
}

#dataDiv {
  padding-top: 1vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
}

.dataEntry { 
  border: 2px solid var(--border-color-on-light);
  border-radius: 5px;
  background-color: var(--background-color);
  margin: 5px;
  position: relative;
  padding: 10px;
}

.dataEntryLabel{
  position: absolute;
  top: -12px;
  left: 2px;
  background-color: var(--background-color);
}

.wrapper {
  display: flex;
}

.sideBar {
  background-color: var(--div-color-2);
  width: 12vw;
  height: 98vh;
  min-width: 125px;
  max-width: 20vw;
  position: sticky;
  top: 0;
}

.sideBarHeader {
  padding: 0px 25px;
  background-color: var(--div-color-2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom-style: solid;
  border-bottom-color: var(--resizer-color);
}

.sideBarHeader h2 { 
  color: white;
}

.topBar {
  position: sticky;
  top: 0;
  display: flex;
  height: 76px;
  z-index: 1;
}

.resizer {
  width: 2px;
  right: 0;
  height:100%;
  cursor: col-resize;
  position: absolute;
  background-color: var(--resizer-color);
  opacity: 100%;
}

/* button for dark backgrounds */
.button-light {
  background-color: var(--on-dark);
  border: 3mm ridge var(--border-color-on-light);
  color: var(--on-light); /* text color: always inverse of backgroud-color*/
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  height: 76px;
  width: 10vw;
}

.button-light:hover {
  background-color: var(--hover-on-dark);
  transition: 0.2s;
}

.button-dark {
  background-color: var(--on-light);
  border: 3mm ridge var(--border-color-on-dark);
  color: var(--on-dark); /* text color: always inverse of backgroud-color*/
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  height: 76px;
  width: 20vw;
  overflow: hidden;
}

.button-dark:hover {
  background-color: var(--hover-on-light);
  transition: 0.2s;
}


.mercyImg {
  height: 30vh;
}