<div id="compareDiv" class="compareDiv">

    <div class="compareHeader">
        <div class="button-dark" id="right">Change Left Report</div>
        <div id="reportCaseTitleCompare"></div>
        <div class="button-dark" id="right">Change Right Report</div>
    </div>

    <div class="compareData">
        <div class="compareDataLeft">

            <!--This is where the graph goes-->
            <div id="graphPlacementLeft"></div>
            <div id="summarizedRangeLeft"></div>

            <!--different ranges for indiviudal methods-->
            <div class="dataChartDivLeft">
                <div id="pubicData"></div>
                <div id="auricularData"></div>
                <div id="sternalData"></div>
                <div id="molarData"></div>
            </div>
        </div>
        <div class="compareDataRight">
            <!--This is where the graph goes-->
            <div id="graphPlacementRight"></div>
            <div id="summarizedRangeRight"></div>

            <!--different ranges for indiviudal methods-->
            <div class="dataChartDivRight">
                <div id="pubicData"></div>
                <div id="auricularData"></div>
                <div id="sternalData"></div>
                <div id="molarData"></div>
            </div>
        </div>
    </div>

    
    <div class="compareBack">
        <button class="button-dark" id="backBtn">Go Back</button>
    </div>
</div>