<!-- Edited by: Nicholas Novak, Matthew Szarmach. Matthew Hardenburg, Cassidy Marquis -->

<div class = "sideBarData">
    <label for="dataEntrySideText">Skeletal ID:</label>
    <input type="text" id="dataEntrySideCaseID" name="dataEntrySideText" maxlength="20">

    <label for="sex">Sex:</label>
    <select name="sex" id="dataEntrySideSex">
        <option value="unknown">Unknown</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>

    <label for="race">Population Affinity:</label>
    <select name="race" id="dataEntrySideAffinity">
        <option value="unknown">Unknown</option>
        <option value="black">Black</option>
        <option value="white">White</option>
    </select>
</div>

<div id = "dataDiv">        
    <div class = "dataEntry">
        <label class="dataEntryLabel" for="dataEntry">Auricular Area</label>
        <div class = "tmWrapper">
        <label for="leftAA">Left Phase:</label>
        <select id="auricularAreaL" name="leftAA">
            <option value="unknown">Unknown</option>
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
            <option value="five">5</option>
            <option value="six">6</option>
        </select>
        <label for="rightAA">Right Phase:</label>
        <select id="auricularAreaR" name="rightAA">
            <option value="unknown">Unknown</option>
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
            <option value="five">5</option>
            <option value="six">6</option>
        </select>
    </div>
    <button class="uploadImageButton" id="uploadImageButtonAA">
        <img src="assets/images/uploadImageIcon.png" alt="Upload Auricular Area Image">
    </button>
    <div id="galleryAuricular" class="image-gallery"></div>
    </div>
    <div class = "dataEntry">
        <label class="dataEntryLabel" for="dataEntry">Pubic Symphysis</label>
        <div class = "tmWrapper">
        <label for="leftPS">Left Phase:</label>
        <select id="pubicSymphysisL" name="leftPS">
            <option value="unknown">Unknown</option>
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
            <option value="five">5</option>
            <option value="six">6</option>
            <option value="seven">7</option>
        </select>
        <label for="rightPS">Right Phase:</label>
        <select id="pubicSymphysisR" name="rightPS">
            <option value="unknown">Unknown</option>
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
            <option value="five">5</option>
            <option value="six">6</option>
            <option value="seven">7</option>
        </select>
    </div>
    <button class="uploadImageButton" id="uploadImageButtonPS">
        <img src="assets/images/uploadImageIcon.png">
    </button>
    <div id="galleryPubic" class="image-gallery"></div>
    </div>
    <div class = "dataEntry">
        <label class="dataEntryLabel" for="dataEntry">Sternal Rib End</label>
        <div class = "tmWrapper">
        <label for="leftSRE">Left Phase:</label>
        <select id="fourthRibL" name="leftSRE">
            <option value="unknown">Unknown</option>
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
            <option value="five">5</option>
            <option value="six">6</option>
            <option value="seven">7</option>
        </select>
        <label for="rightSRE">Right Phase:</label>
        <select id="fourthRibR" name="rightSRE">
            <option value="unknown">Unknown</option>
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
            <option value="five">5</option>
            <option value="six">6</option>
            <option value="seven">7</option>
        </select>
    </div>
    <button class="uploadImageButton" id="uploadImageButtonSR">
        <img src="assets/images/uploadImageIcon.png" alt="Upload Sternal Ribs Image">
    </button>
    <div id="gallerySternal" class="image-gallery"></div>
    </div>
    <div class = "dataEntry">
        <label class="dataEntryLabel" for="dataEntry">Third Molars</label>
        <div class = "tmWrapper">
        <label for="Top Left">Top Left:</label>
        <select id="thirdMolarTL" name="Top Left">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="G">G</option>
            <option value="H">H</option>
            <option value="Unknown">Unknown</option>
        </select>
        <label for="Top Right">Top Right:</label>
        <select id="thirdMolarTR" name="Top Right">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="G">G</option>
            <option value="H">H</option>
            <option value="Unknown">Unknown</option>
        </select>
        <label for="Bottom Left">Bottom Left:</label>
        <select id="thirdMolarBL" name="Bottom Left">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="G">G</option>
            <option value="H">H</option>
            <option value="Unknown">Unknown</option>
        </select>
        <label for="Bottom Right">Bottom Right:</label>
        <select id="thirdMolarBR" name="Bottom Right">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="G">G</option>
            <option value="H">H</option>
            <option value="Unknown">Unknown</option>
        </select>
    </div>
    <button class="uploadImageButton" id="uploadImageButtonTM">
        <img src="assets/images/uploadImageIcon.png" alt="Upload Third Molar Image">
    </button>
    <div id="galleryMolar" class="image-gallery"></div>
    </div>
</div>

<div id = "notesAndReports">
    <div id = "notesDiv">
        <div class = "notesEntry">
            <label class="notesEntryLabel" for="notesEntry">Notes</label>
            <textarea id="notes" name="notes"></textarea>
        </div>
    </div>
    <div id="reportAndGuideDiv">
        <div id = "scoringGuideDiv">
            <div class="guideBtn">
                <button class="button-dark" id="scoringGuide">Scoring Guidelines</button>
            </div>
        </div>
        <div id = "reportBtnDiv">
            <div class="reportButton">
                <select id="analysisSelector">
                    <option value="default">Default Analysis</option>
                    <option value="linreg">Linear Regression Model</option>
                    <option value="classification">Classification Model</option>
                </select>
                <br>
                <button class="button-dark" id="dataEntryReport">Generate Report</button>
                <br>
                <button class="button-dark" id="viewMostRecentReport">View Most Recent Report</button>
            </div>
        </div>
    </div>
</div>

<div id="modalContainer" class="gallery-modal">
    <div id="gallery-modalContent" class="gallery-modalContent">
    </div>
</div>
  
  