<div id = "dataDiv">
    <div class = "dataEntry">
        <label class="dataEntryLabel" for="dataEntry">Auricular Area</label>
        <label for="filler">filler:</label>
        <input type="text" id="filler" name="filler">
    </div>
    <div class = "dataEntry">
        <label class="dataEntryLabel" for="dataEntry">Pubic Symphysis</label>
        <label for="filler">filler:</label>
        <input type="text" id="filler" name="filler">
    </div>
    <div class = "dataEntry">
        <label class="dataEntryLabel" for="dataEntry">External Rib Edges</label>
        <label for="filler">filler:</label>
        <input type="text" id="filler" name="filler">
    </div>
    <div class = "dataEntry">
        <label class="dataEntryLabel" for="dataEntry">Third Molars</label>
        <label for="filler">filler:</label>
        <input type="text" id="filler" name="filler">
    </div>
</div>