<div id = "dataDiv">
    <div class = "dataEntry">
        <label class="dataEntryLabel" for="dataEntry">Auricular Area</label>
        <label for="filler">filler:</label>
        <input type="number" id="filler" name="filler" min="1" max="7">
    </div>
    <div class = "dataEntry">
        <label class="dataEntryLabel" for="dataEntry">Pubic Symphysis</label>
        <label for="filler">filler:</label>
        <input type="number" id="filler" name="filler" min="1" max="7">
    </div>
    <div class = "dataEntry">
        <label class="dataEntryLabel" for="dataEntry">External Rib Edges</label>
        <label for="filler">filler:</label>
        <input type="number" id="filler" name="filler" min="1" max="7">
    </div>
    <div class = "dataEntry">
        <label class="dataEntryLabel" for="dataEntry">Third Molars</label>
        <label for="filler">filler:</label>
        <input type="number" id="filler" name="filler" min="1" max="7">
    </div>
</div>
<div id = "notesDiv">
    <div class = "notesEntry">
        <label class="notesEntryLabel" for="notesEntry">Notes</label>
        <textarea id="notes" name="notes"></textarea>
    </div>
</div>