<!-- Edited by: Nicholas Novak, Matthew Szarmach. Matthew Hardenburg, Cassidy Marquis -->
<div class="ellipse-container-side">
    <div class="ellipse-side">
        <a href="https://www.mercyhurst.edu/academics/applied-forensic-sciences" target="_blank">
            <img class="mercyImgSide" src="./static/images/DAFS_Logo.png" alt="Mercyhurst">
        </a>
    </div>
    <div class="psuCircle-side">
        <a  href="https://behrend.psu.edu/school-of-engineering" target="_blank">
            <img class="psuBehrImgSide" src="./static/images/image.png" alt="PennState">
        </a>
    </div>
</div>
