<!-- Edited by: Nicholas Novak, Matthew Szarmach. Matthew Hardenburg, Cassidy Marquis -->

<div id="homeDiv">
    <div class="homeTitle">
        <h1>Skeletal Age Estimation</h1>
    </div>
    <div class="homeButtons">
        <button class="button-dark" id="homeCreate">Create Case</button>
        <button class="button-dark" id="homeLoad">Open Case</button>
    </div>
    
    <div class="ellipse-container">
        <div class="ellipse">
            <img class="mercyImg" src="../assets/images/DAFS_Logo.png" alt="Mercyhurst">
        </div>
        <div class="psuCircle">
            <img class="psuBehrImg" src="../assets/images/image.png" alt="PennState">
        </div>
    </div>
</div>
