<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SBAES Home</title>
    <link rel="stylesheet" href="../assets/styles/main.css">
</head>
<body>
    <button class="button-light" id="homeBtn">Home</button>
    <button class="button-light" id="createBtn">Create Case</button>
    <br>
    <div id="rootDiv">
        <!--Content goes here-->
    </div>
    <script>var exports = {};</script>
    <script src="../dist/renderer.js" defer></script>
</body>