<div id="reportDiv" class="reportDiv">
    <!--left side elements / Column 1-->
    <div id="graphDiv" class="graphDiv">
        <button class="reportButtons" id="changeGraphBtn">Change Graph</button>

        <!--This is where the graph goes-->
        <div class="graphPlacement">

            <p>Pubic Symphysis Left</p>
            <div class="range-container">
                <div class="range-bar" id="bar1"></div>
            </div>
        
            <p>Pubic Symphysis Right</p>
            <div class="range-container">
                <div class="range-bar" id="bar2"></div>
            </div>

            <p>Auricular Surface Left</p>
            <div class="range-container">
                <div class="range-bar" id="bar3"></div>
            </div>
        
            <p>Auricular Surface Right</p>
            <div class="range-container">
                <div class="range-bar" id="bar4"></div>
            </div>
            
            <p>Sternal End Left</p>
            <div class="range-container">
                <div class="range-bar" id="bar5"></div>
            </div>
        
            <p>Sternal End Right</p>
            <div class="range-container">
                <div class="range-bar" id="bar6"></div>
            </div> 
            
        </div>
        
        <div class="reportButtonsContainer">
            <button class="reportButtons" id="downloadBtn">Download Report</button>
            <button class="reportButtons" id="printBtn">Print Report</button>
            <button class="reportButtons" id="changeBtn">Change Report</button>
            <button class="reportButtons" id="compareBtn">Compare Report</button>
        </div>
    </div>

    <!--right side elements / column 2-->
    <div class="reportRightSide">
        <!--title of case-->
        <div id="reportCaseTitle"></div>
        <!--overall range summarized from all methods-->
        <div id="summarizedRange"></div>

        <!--different ranges for indiviudal methods-->
        <div class="dataChartDiv">
            <div id="pubicData"></div>
            <div id="auricularData"></div>
            <div id="sternalData"></div>
            <div id="molarData"></div>
        </div>
    </div>

    <script src="tester.ts"></script>

</div>
