<div id="reportDiv" class="reportDiv">
    <!--left side elements / Column 1-->
    <div id="graphDiv" class="graphDiv">
        <button class="reportButtons" id="changeGraphBtn">Change Graph</button>

        <!--This is where the graph goes-->
        <div class="graphPlacement">

            <p>Age Range</p>
            <div class="range-container">
                <div class="range-bar" id="ageBar"></div>
            </div>

            <p>Pubic Symphysis</p>
            <div class="range-container">
                <div class="range-bar" id="pubicSymphysisBar"></div>
            </div>

            <p>Auricular Surface</p>
            <div class="range-container">
                <div class="range-bar" id="auricularSurfaceBar"></div>
            </div>

            
            <p>Sternal End</p>
            <div class="range-container">
                <div class="range-bar" id="sternalEndBar"></div>
            </div>       
        </div>
        
        <div class="reportButtonsContainer">
            <button class="reportButtons" id="downloadBtn">Download Report</button>
            <button class="reportButtons" id="printBtn">Print Report</button>
            <button class="reportButtons" id="archiveBtn">Report Archive</button>
            <button class="reportButtons" id="changeBtn">Change Report</button>
            <button class="reportButtons" id="compareBtn">Compare Report</button>

        </div>
        <button class="reportButtons" id="backBtn">Back to Data Entry</button>
    </div>

    <!--right side elements / column 2-->
    <div class="reportRightSide">
        <!--title of case-->
        <div id="reportCaseTitle"></div>
        <!--overall range summarized from all methods-->
        <div id="summarizedRange"></div>

        <!--different ranges for indiviudal methods-->
        <div class="dataChartDiv">
            <div id="pubicData"></div>
            <div id="auricularData"></div>
            <div id="sternalData"></div>
            <div id="molarData"></div>
        </div>
    </div>

    <script src="tester.ts"></script>

</div>
